# exercise with pandas

every "..." should be replaced with a line of code

In [90]:
import pandas as pd
import os

Read what the PLUTO data is [here](https://www.wired.com/2013/08/nyc-pluto-data-map-party/)

Find the PLUTO dataset online, find the cvs file data (not the shape file), it should be about 46M

Download it as a zip file, unpack it in PUIDATAEach borough will be in a different file. The goal is to find land plot categories of which there is a higher number in Manhattan (MN) than in Brooklyn (BK)

Read in csv data as pandas dataframes (with pd.read_csv() )

In a Pandas DataFrame each column is a _series_ (a pandas datatype) to manipulate the data here you will mostly use methods (functions that are defined for a specific datatype and invoked with the _object.method()_ syntax) of the DataFrames (e.g. df.groupby() ) or of the series therein (e.g. series.astype() )

In [91]:
from StringIO import StringIO
from zipfile import ZipFile
from urllib import urlopen
import pandas

url = urlopen("https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip")
zf = ZipFile(StringIO(url.read()))
for item in zf.namelist():
    print("File in zip: "+  item)

MN = [s for s in zf.namelist() if "MN_18v1.csv" in s][0]
df_MN = pandas.read_csv(zf.open(MN), low_memory=False)
BK = [s for s in zf.namelist() if "BK_18v1.csv" in s][0]
df_BK = pandas.read_csv(zf.open(BK), low_memory=False)
QN = [s for s in zf.namelist() if "QN_18v1.csv" in s][0]
df_QN = pandas.read_csv(zf.open(QN), low_memory=False)
SI = [s for s in zf.namelist() if "SI_18v1.csv" in s][0]
df_SI = pandas.read_csv(zf.open(SI), low_memory=False)

File in zip: PLUTO_for_WEB/BK_18v1.csv
File in zip: PLUTO_for_WEB/BX_18v1.csv
File in zip: PLUTO_for_WEB/MN_18v1.csv
File in zip: PLUTO_for_WEB/PLUTODD18v1.pdf
File in zip: PLUTO_for_WEB/PlutoReadme18v1.pdf
File in zip: PLUTO_for_WEB/QN_18v1.csv
File in zip: PLUTO_for_WEB/SI_18v1.csv

# read in te Manhattan and Brooklyn data in 2 separate dataframes w pandas

## show the first 10 lines of each df

In [92]:
# show manhattan 10 rows
df_MN.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,PolicePrct,HealthCenterDistrict,HealthArea,SanitBoro,SanitDistrict,SanitSub,Address,ZoneDist1,ZoneDist2,ZoneDist3,ZoneDist4,Overlay1,Overlay2,SPDist1,SPDist2,SPDist3,LtdHeight,SplitZone,BldgClass,LandUse,Easements,OwnerType,OwnerName,LotArea,BldgArea,ComArea,ResArea,OfficeArea,RetailArea,GarageArea,StrgeArea,FactryArea,OtherArea,AreaSource,NumBldgs,NumFloors,UnitsRes,UnitsTotal,LotFront,LotDepth,BldgFront,BldgDepth,Ext,ProxCode,IrrLotCode,LotType,BsmtCode,AssessLand,AssessTot,ExemptLand,ExemptTot,YearBuilt,YearAlter1,YearAlter2,HistDist,Landmark,BuiltFAR,ResidFAR,CommFAR,FacilFAR,BoroCode,BBL,CondoNo,Tract2010,XCoord,YCoord,ZoneMap,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,1.0,15.0,8100.0,1.0,1.0,3B,1 GOVERNORS ISLAND,R3-2,NaN,NaN,NaN,NaN,NaN,GI,NaN,NaN,NaN,N,Y4,8.0,0,P,GOVERNORS ISLAND CORP,7736692,2725731,2725731,0,0,0,0,0,0,2725731,2,159,0.0,0,0,0.00,0.00,0.0,0.0,NaN,0.0,N,5.0,0.0,104445450,166042350,104445450,166042350,1900,0,0,Governors Island Historic District,INDIVIDUAL LANDMARK,0.35,0.6,0.0,1.0,1,1000010010,0,5,979071.0,190225.0,16a,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,1.0,15.0,8200.0,1.0,1.0,NaN,1 LIBERTY ISLAND,R3-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,P7,8.0,0,X,U S GOVT LAND & BLDGS,541886,541886,541886,0,0,0,0,0,0,541886,2,11,0.0,0,0,500.00,1046.00,0.0,0.0,NaN,0.0,Y,5.0,0.0,4225950,13574700,4225950,13574700,1900,0,0,NaN,INDIVIDUAL LANDMARK,1.00,0.6,0.0,1.0,1,1000010101,0,1,971677.0,190636.0,16a,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,1.0,15.0,8200.0,1.0,1.0,NaN,1 ELLIS ISLAND,R3-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Z9,NaN,0,X,U S GOVT LAND & BLDGS,2764190,603130,603130,0,0,0,0,0,0,603130,2,13,0.0,0,0,0.00,0.00,0.0,0.0,NaN,0.0,N,5.0,0.0,14972400,115055100,14972400,115055100,1900,0,0,Ellis Island Historic District,INTERIOR LANDMARK,0.22,0.6,0.0,1.0,1,1000010201,0,1,972790.0,193648.0,12b,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,1.0,15.0,NaN,NaN,NaN,NaN,JOE DIMAGGIO HIGHWAY,ZNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,U0,7.0,0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,7,0,0.0,0,0,0.00,0.00,0.0,0.0,NaN,0.0,N,0.0,5.0,0,0,0,0,0,0,0,NaN,NaN,0.00,0.0,0.0,0.0,1,1000010301,0,0,NaN,NaN,12b,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,1.0,15.0,NaN,NaN,NaN,NaN,JOE DIMAGGIO HIGHWAY,ZNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,U0,7.0,0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,7,0,0.0,0,0,0.00,0.00,0.0,0.0,NaN,0.0,N,0.0,5.0,0,0,0,0,0,0,0,NaN,NaN,0.00,0.0,0.0,0.0,1,1000010401,0,0,NaN,NaN,12b,NaN,1 99 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,MN,2,1,101,9.0,1025.0,2.0,1.0,10004.0,L015,1.0,15.0,7700.0,1.0,1.0,1B,4 SOUTH STREET,M1-4,NaN,NaN,NaN,NaN,NaN,LM,NaN,NaN,NaN,N,Y7,7.0,0,C,NYC DSBS,209215,280000,280000,0,0,0,0,0,0,280000,2,2,5.0,0,1,314.28,564.84,268.0,210.0,NaN,1.0,Y,2.0,0.0,18818100,34154550,18818100,34154550,1908,2006,2006,NaN,NaN,1.34,0.0,2.0,6.5,1,1000020001,0,9,980670.0,194440.0,12b,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
6,MN,2,2,101,9.0,1025.0,2.0,1.0,10004.0,L015,1.0,15.0,7700.0,1.0,1.0,1B,10 SOUTH STREET,C4-6,NaN,NaN,NaN,NaN,NaN,LM,NaN,NaN,NaN,N,Y7,7.0,0,C,"10 SSA LANDLORD, LLC",191502,158197,158197,0,0,0,0,0,0,158197,2,1,5.0,0,1,311.61,555.84,205.0,270.0,NaN,0.0,Y,2.0,0.0,18787500,25389900,18787500,25389900,1900,2001,0,NaN,INDIVIDUAL LANDMARK,0.83,10.0,3.4,10.0,1,1000020002,0,9,981037.0,194506.0,12b,NaN,11N 100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
7,MN,2,3,101,9.0,NaN,2.0,1.0,10004.0,L015,1.0,15.0,7700.0,1.0,1.0,1B,MARGINAL STREET,C4-6,NaN,NaN,NaN,NaN,NaN,LM,NaN,NaN,NaN,N,Y7,7.0,0,C,NYC DSBS,38800,7500,7500,0,0,0,0,0,0,7500,2,0,1.0,0,0,91.90,564.56,50.0,75.0,NaN,0.0,N,2.0,5.0,735750,872100,735750,872100,1900,0,0,NaN,NaN,0.19,10.0,3.4,10.0,1,1000020003,0,9,NaN,NaN,12b,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
8,MN,2,23,101,9.0,1025.0,2.0,1.0,10004.0,L015,1.0,15.0,7700.0,1.0,1.0,1B,1 PIER 6,C4-6,NaN,NaN,NaN,NaN,NaN,LM,NaN,NaN,NaN,N,T2,7.0,0,C,NYC DSBS,510025,24346,24346,0,0,0,0,0,0,24346,2,1,2.0,0,0,793.67,551.00,85.0,551.0,NaN,0.0,Y,5.0,0.0,15255450,18178200,15255450,18178200,1987,0,0,NaN,NaN,0.05,10.0,3.4,10.0,1,1000020023,0,9,981687.0,194732.0,12b,NaN,101N100,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,MN,3,1,101,319.0,1000.0,2.0,1.0,10004.0,L015,1.0,15.0,9000.0,1.0,1.0,NaN,10 BATTERY PARK,PARK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Q1,9.0,0,C,PARKS AND RECREATION,945425,945425,945425,0,0,0,0,0,0,945425,2,6,1.0,0,4,323.00,1260.00,89.0,57.0,NaN,1.0,Y,1.0,0.0,127100700,137561850,127100700,137561850,1951,0,0,NaN,INDIVIDUAL LANDMARK,1.00,0.0,0.0,0.0,1,1000030001,0,319,979916.0,195328.0,12b,NaN,101S087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [93]:
# show brooklyn 10 rows
df_BK.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,PolicePrct,HealthCenterDistrict,HealthArea,SanitBoro,SanitDistrict,SanitSub,Address,ZoneDist1,ZoneDist2,ZoneDist3,ZoneDist4,Overlay1,Overlay2,SPDist1,SPDist2,SPDist3,LtdHeight,SplitZone,BldgClass,LandUse,Easements,OwnerType,OwnerName,LotArea,BldgArea,ComArea,ResArea,OfficeArea,RetailArea,GarageArea,StrgeArea,FactryArea,OtherArea,AreaSource,NumBldgs,NumFloors,UnitsRes,UnitsTotal,LotFront,LotDepth,BldgFront,BldgDepth,Ext,ProxCode,IrrLotCode,LotType,BsmtCode,AssessLand,AssessTot,ExemptLand,ExemptTot,YearBuilt,YearAlter1,YearAlter2,HistDist,Landmark,BuiltFAR,ResidFAR,CommFAR,FacilFAR,BoroCode,BBL,CondoNo,Tract2010,XCoord,YCoord,ZoneMap,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,84.0,36.0,1000.0,3.0,2.0,1B,JOHN STREET,M3-1,M1-4/R8A,NaN,NaN,NaN,NaN,MX-2,NaN,NaN,NaN,Y,V1,11.0,1,P,BROOKLYN BRIDGE PARK,151930,0,0,0,0,0,0,0,0,0,4,0,0.0,0,0,206.25,337.42,0.0,0.0,NaN,0.0,Y,5.0,5.0,1127700,1127700,0,0,0,0,0,DUMBO Historic District,NaN,0.00,0.0,2.0,0.0,3,3000010001,0,21,NaN,NaN,12d,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,84.0,36.0,1000.0,3.0,2.0,1B,10 JAY STREET,M1-4/R8A,M3-1,NaN,NaN,NaN,NaN,MX-2,NaN,NaN,NaN,Y,O6,5.0,0,NaN,SAFDI PLAZA PROPERTY,19682,163894,163894,0,147505,16389,0,0,0,0,2,1,10.0,0,2,109.08,207.25,88.0,195.0,NaN,1.0,Y,3.0,0.0,834300,13780800,0,0,1920,1994,2015,DUMBO Historic District,NaN,8.33,5.4,2.0,6.5,3,3000010050,0,21,987838.0,195989.0,12d,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,84.0,36.0,1000.0,1.0,2.0,NaN,1 JOHN STREET,M3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,RM,4.0,1,NaN,NaN,0,102534,4686,97848,0,4686,0,0,0,0,7,1,12.0,42,44,0.00,0.00,0.0,0.0,NaN,0.0,N,0.0,5.0,389688,12347546,0,0,0,0,0,NaN,NaN,0.00,0.0,2.0,0.0,3,3000017501,3819,21,987624.0,195992.0,12d,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,84.0,36.0,1000.0,3.0,2.0,1B,JAY STREET,M3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,U4,7.0,1,NaN,CONSOLIDED EDISON CO/,387060,0,0,0,0,0,0,0,0,0,7,15,0.0,0,0,1051.00,469.00,0.0,0.0,NaN,0.0,Y,5.0,0.0,0,0,0,0,0,0,0,NaN,NaN,0.00,0.0,2.0,0.0,3,3000030001,0,21,988568.0,196151.0,12d,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,84.0,36.0,1000.0,3.0,2.0,1B,JAY STREET,M3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,T2,7.0,0,C,NYC DSBS,6384,0,0,0,0,0,0,0,0,0,7,0,0.0,0,0,0.00,0.00,0.0,0.0,NaN,0.0,N,8.0,5.0,22050,22050,22050,22050,0,0,0,DUMBO Historic District,NaN,0.00,0.0,2.0,0.0,3,3000030005,0,21,NaN,NaN,12d,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,BK,3,35,302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,7,0,0.0,0,0,0.00,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,0.00,0.0,2.0,0.0,3,3000030035,0,0,NaN,NaN,12d,NaN,302 007,3.0,NaN,NaN,NaN,5,NaN,NaN,18V1
6,BK,5,1,302,21.0,3001.0,13.0,33.0,11201.0,L118,84.0,36.0,1000.0,3.0,2.0,1B,135 MARSHALL STREET,M3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,U2,7.0,0,NaN,CONSOLIDED EDISON CO/,0,0,0,0,0,0,0,0,0,0,7,4,0.0,0,0,363.25,346.00,0.0,0.0,NaN,0.0,Y,3.0,0.0,0,0,0,0,0,0,0,NaN,NaN,0.00,0.0,2.0,0.0,3,3000050001,0,21,989346.0,196266.0,12d,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
7,BK,5,8,302,21.0,NaN,13.0,33.0,11201.0,L118,84.0,36.0,1000.0,3.0,2.0,1B,GOLD STREET,M3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,T2,7.0,0,C,NYC DSBS,0,0,0,0,0,0,0,0,0,0,7,0,0.0,0,0,0.00,0.00,0.0,0.0,NaN,0.0,N,8.0,0.0,1910,1910,1910,1910,0,0,0,NaN,NaN,0.00,0.0,2.0,0.0,3,3000050008,0,21,NaN,NaN,12d,NaN,300 000,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
8,BK,6,1,302,21.0,3000.0,13.0,33.0,11201.0,E207,84.0,36.0,1000.0,3.0,2.0,1B,1 HUDSON AVENUE,M3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,U2,7.0,1,P,CONSOLIDATED EDISON C,323307,0,0,0,0,0,0,0,0,0,7,15,0.0,0,0,302.92,657.00,0.0,0.0,NaN,0.0,Y,3.0,0.0,0,0,0,0,0,0,0,NaN,NaN,0.00,0.0,2.0,0.0,3,3000060001,0,21,989745.0,196040.0,12d,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,BK,6,10,302,21.0,NaN,13.0,33.0,11201.0,E207,84.0,36.0,1000.0,3.0,2.0,1B,HUDSON AVENUE,M3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,T2,7.0,0,C,NYC DSBS,66889,0,0,0,0,0,0,0,0,0,7,0,0.0,0,0,60.00,538.00,0.0,0.0,NaN,0.0,Y,5.0,0.0,12600,12600,12600,12600,0,0,0,NaN,NaN,0.00,0.0,2.0,0.0,3,3000060010,0,21,NaN,NaN,12d,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

## display all columns in each file

In [94]:
# show bk
df_BK.columns.tolist()

['Borough',
 'Block',
 'Lot',
 'CD',
 'CT2010',
 'CB2010',
 'SchoolDist',
 'Council',
 'ZipCode',
 'FireComp',
 'PolicePrct',
 'HealthCenterDistrict',
 'HealthArea',
 'SanitBoro',
 'SanitDistrict',
 'SanitSub',
 'Address',
 'ZoneDist1',
 'ZoneDist2',
 'ZoneDist3',
 'ZoneDist4',
 'Overlay1',
 'Overlay2',
 'SPDist1',
 'SPDist2',
 'SPDist3',
 'LtdHeight',
 'SplitZone',
 'BldgClass',
 'LandUse',
 'Easements',
 'OwnerType',
 'OwnerName',
 'LotArea',
 'BldgArea',
 'ComArea',
 'ResArea',
 'OfficeArea',
 'RetailArea',
 'GarageArea',
 'StrgeArea',
 'FactryArea',
 'OtherArea',
 'AreaSource',
 'NumBldgs',
 'NumFloors',
 'UnitsRes',
 'UnitsTotal',
 'LotFront',
 'LotDepth',
 'BldgFront',
 'BldgDepth',
 'Ext',
 'ProxCode',
 'IrrLotCode',
 'LotType',
 'BsmtCode',
 'AssessLand',
 'AssessTot',
 'ExemptLand',
 'ExemptTot',
 'YearBuilt',
 'YearAlter1',
 'YearAlter2',
 'HistDist',
 'Landmark',
 'BuiltFAR',
 'ResidFAR',
 'CommFAR',
 'FacilFAR',
 'BoroCode',
 'BBL',
 'CondoNo',
 'Tract2010',
 'XCoord',
 'YCoord',
 'ZoneMap',
 'ZMCode',
 'Sanborn',
 'TaxMap',
 'EDesigNum',
 'APPBBL',
 'APPDate',
 'PLUTOMapID',
 'FIRM07_FLAG',
 'PFIRM15_FLAG',
 'Version']

In [25]:
# show mn
df_MN.columns.tolist()

['Borough',
 'Block',
 'Lot',
 'CD',
 'CT2010',
 'CB2010',
 'SchoolDist',
 'Council',
 'ZipCode',
 'FireComp',
 'PolicePrct',
 'HealthCenterDistrict',
 'HealthArea',
 'SanitBoro',
 'SanitDistrict',
 'SanitSub',
 'Address',
 'ZoneDist1',
 'ZoneDist2',
 'ZoneDist3',
 'ZoneDist4',
 'Overlay1',
 'Overlay2',
 'SPDist1',
 'SPDist2',
 'SPDist3',
 'LtdHeight',
 'SplitZone',
 'BldgClass',
 'LandUse',
 'Easements',
 'OwnerType',
 'OwnerName',
 'LotArea',
 'BldgArea',
 'ComArea',
 'ResArea',
 'OfficeArea',
 'RetailArea',
 'GarageArea',
 'StrgeArea',
 'FactryArea',
 'OtherArea',
 'AreaSource',
 'NumBldgs',
 'NumFloors',
 'UnitsRes',
 'UnitsTotal',
 'LotFront',
 'LotDepth',
 'BldgFront',
 'BldgDepth',
 'Ext',
 'ProxCode',
 'IrrLotCode',
 'LotType',
 'BsmtCode',
 'AssessLand',
 'AssessTot',
 'ExemptLand',
 'ExemptTot',
 'YearBuilt',
 'YearAlter1',
 'YearAlter2',
 'HistDist',
 'Landmark',
 'BuiltFAR',
 'ResidFAR',
 'CommFAR',
 'FacilFAR',
 'BoroCode',
 'BBL',
 'CondoNo',
 'Tract2010',
 'XCoord',
 'YCoord',
 'ZoneMap',
 'ZMCode',
 'Sanborn',
 'TaxMap',
 'EDesigNum',
 'APPBBL',
 'APPDate',
 'PLUTOMapID',
 'FIRM07_Flag',
 'PFIRM15_Flag',
 'Version']

# drop all columns but ZipCode and LandUse

In [95]:
# drop columns here. Use the .drop method of pandas dataframes, i.e. something like bk.drop()... 
# make sure you drop "in place" and that you drop along the right axis - i.e. the columns. 
# you can use bk.drop? to the help with this function 
df_MN.drop(df_MN.columns.difference(['LandUse','ZipCode']), 1, inplace=True)
df_MN.head()

   ZipCode  LandUse
0  10004.0      8.0
1  10004.0      8.0
2  10004.0      NaN
3  10004.0      7.0
4  10004.0      7.0

In [96]:
# drop columns here...
df_BK.drop(df_BK.columns.difference(['ZipCode','LandUse']), 1, inplace=True)
df_BK.head()
df_BK.head()

   ZipCode  LandUse
0  11201.0     11.0
1  11201.0      5.0
2  11201.0      4.0
3  11201.0      7.0
4  11201.0      7.0

# use groupby to count the building per LandUse code

In [97]:
# group Manhattan by land use. Make sure you understand how to use the groupby() method:
# this method returns a group object. those objects have methods and some of these methods return dataframes. 
# What do you want to do? you want to count all objects per each land use type. 
# So you want to use .groupby() to group by LandUse and then .count() to get the number of element per LandUse
# Other methods include .mean() to get the mean of a group, .std(), 
# and a generic method .apply() to which you can pass any function that operates on a column.
# All these methods return dataframes 
# (hint: use also reset_index) for each df
MNgrouped=df_MN.groupby(['LandUse']).count().reset_index()
MNgrouped

    LandUse  ZipCode
0       1.0     4019
1       2.0    16246
2       3.0     4881
3       4.0     7238
4       5.0     4465
5       6.0      726
6       7.0      386
7       8.0     2456
8       9.0      434
9      10.0      679
10     11.0     1199

In [98]:
# group BK by land use
BKgrouped=df_BK.groupby(['LandUse']).count().reset_index()
BKgrouped

    LandUse  ZipCode
0       1.0   156271
1       2.0    66358
2       3.0     3437
3       4.0    22515
4       5.0     5743
5       6.0     4434
6       7.0     1040
7       8.0     4330
8       9.0      872
9      10.0     4229
10     11.0     6298

# convert the landuse to integer

In [99]:
# convert LandUse to int using the .astype() method of the series
BKgrouped.LandUse.astype(int)
BKgrouped.head()

   LandUse  ZipCode
0      1.0   156271
1      2.0    66358
2      3.0     3437
3      4.0    22515
4      5.0     5743

# merge the dataframes on land use

In [100]:
# merge the dataframes on LandUse. You can use the pandas function merge ( _pd.merge)
both = pd.merge(MNgrouped,
                 BKgrouped[['LandUse', 'ZipCode']],
                 on='LandUse')
both.head()

   LandUse  ZipCode_x  ZipCode_y
0      1.0       4019     156271
1      2.0      16246      66358
2      3.0       4881       3437
3      4.0       7238      22515
4      5.0       4465       5743

# rename things so that you have descriptive names

## rename the columns with descriptive names.

In [102]:
# Use the df.rename() method (hint: it takes a dictionary)
# now you can just call "both" instead of "both.head()" since the file should only have 11 columns
both=both.rename(index=str, columns={"ZipCode_x":"mn", "ZipCode_y": "bk"})
both

    LandUse     mn      bk
0       1.0   4019  156271
1       2.0  16246   66358
2       3.0   4881    3437
3       4.0   7238   22515
4       5.0   4465    5743
5       6.0    726    4434
6       7.0    386    1040
7       8.0   2456    4330
8       9.0    434     872
9      10.0    679    4229
10     11.0   1199    6298

## find online the LandUse data dictionary and replace code w the verbose description of it

In [103]:
both.bk

0     156271
1      66358
2       3437
3      22515
4       5743
5       4434
6       1040
7       4330
8        872
9       4229
10      6298
Name: bk, dtype: int64

In [104]:
landuse_desc = ['One&Two Family Buildings',
                              'Multi-Family Walk-Up Buildings','Multi-Family Elevator Buildings',
                              'Mixed Residential & Commercial Buildings','Commercial & Office Buildings',
                              'Industrial & Manufacturing','Transportation & Utility',
                              'Public Facilities & Institutions','Open Space & Outdoor Recreation','Parking Facilities','Vacant Land']
both_max = both.copy()

In [106]:
both_max['LandUse'] = landuse_desc

In [107]:
both_max

                                     LandUse     mn      bk
0                   One&Two Family Buildings   4019  156271
1             Multi-Family Walk-Up Buildings  16246   66358
2            Multi-Family Elevator Buildings   4881    3437
3   Mixed Residential & Commercial Buildings   7238   22515
4              Commercial & Office Buildings   4465    5743
5                 Industrial & Manufacturing    726    4434
6                   Transportation & Utility    386    1040
7           Public Facilities & Institutions   2456    4330
8            Open Space & Outdoor Recreation    434     872
9                         Parking Facilities    679    4229
10                               Vacant Land   1199    6298

In [86]:
# set up Land Use values to descriptive tag
both=pd.DataFrame({"LandUse":['One&Two Family Buildings',
                              'Multi-Family Walk-Up Buildings','Multi-Family Elevator Buildings',
                              'Mixed Residential & Commercial Buildings','Commercial & Office Buildings',
                              'Industrial & Manufacturing','Transportation & Utility',
                              'Public Facilities & Institutions','Open Space & Outdoor Recreation','Parking Facilities','Vacant Land'],
                    "mn":[4019,16246,4881,7238,4465,726,386,2456,434,679,1199] ,"bk":[156271,66358,3437,22515,5743,4434,1040,4330,872,4229,6298]})
both

                                     LandUse      bk     mn
0                   One&Two Family Buildings  156271   4019
1             Multi-Family Walk-Up Buildings   66358  16246
2            Multi-Family Elevator Buildings    3437   4881
3   Mixed Residential & Commercial Buildings   22515   7238
4              Commercial & Office Buildings    5743   4465
5                 Industrial & Manufacturing    4434    726
6                   Transportation & Utility    1040    386
7           Public Facilities & Institutions    4330   2456
8            Open Space & Outdoor Recreation     872    434
9                         Parking Facilities    4229    679
10                               Vacant Land    6298   1199

# create a feature (a column, a series) with the ratio of number of buildings in BK vs MN and find out in which LandUse class Manhattan has more buildings than BK

In [87]:
# calculate the ratio of BK to Man buildings per LandUse category
both['luration'] = both['mn']/both['bk']
both

                                     LandUse      bk     mn  luration
0                   One&Two Family Buildings  156271   4019  0.025718
1             Multi-Family Walk-Up Buildings   66358  16246  0.244824
2            Multi-Family Elevator Buildings    3437   4881  1.420134
3   Mixed Residential & Commercial Buildings   22515   7238  0.321475
4              Commercial & Office Buildings    5743   4465  0.777468
5                 Industrial & Manufacturing    4434    726  0.163735
6                   Transportation & Utility    1040    386  0.371154
7           Public Facilities & Institutions    4330   2456  0.567206
8            Open Space & Outdoor Recreation     872    434  0.497706
9                         Parking Facilities    4229    679  0.160558
10                               Vacant Land    6298   1199  0.190378

In [88]:
# defined function that returns True if the ratio is larger than 0, False otherwise. 
# Use the series.apply() method to apply that function to the luratio series you jusrt created
both["Manhattan wins"] = both["luration"] > 1 
both

,LandUse,bk,mn,luration,Manhattan wins
0,One&Two Family Buildings,156271,4019,0.025718,False
1,Multi-Family Walk-Up Buildings,66358,16246,0.244824,False
2,Multi-Family Elevator Buildings,3437,4881,1.420134,True
3,Mixed Residential & Commercial Buildings,22515,7238,0.321475,False
4,Commercial & Office Buildings,5743,4465,0.777468,False
5,Industrial & Manufacturing,4434,726,0.163735,False
6,Transportation & Utility,1040,386,0.371154,False
7,Public Facilities & Institutions,4330,2456,0.567206,False
8,Open Space & Outdoor Recreation,872,434,0.497706,False
9,Parking Facilities,4229,679,0.160558,False
10,Vacant Land,6298,1199,0.190378,False

# comment on what you found out. Does it make sense?

I'm not familiar with NYC. From my guess, it might be that Manhattan has more parks and other open space so that landuse in Brookyln is larger.